/* This CSS file contains elements specific to the SHARED LAYOUT [Layout.cshtml, TwoColumnLayout.cshtml etc] 
   that are used across the whole site */

/* Service Alert */

#service-alert {
    display: none;
}

/* Service Alert/Banners */

.banner-warning {
    padding: 0.25em;
    font-size: 14pt;
    text-align: center;
    background: yellow;
    background-image: -moz-linear-gradient(top, #ffff00, #e5e600);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffff00), to(#e5e600));
    background-image: -webkit-linear-gradient(top, #ffff00, #e5e600);
    background-image: -o-linear-gradient(top, #ffff00, #e5e600);
    background-image: linear-gradient(to bottom, #ffff00, #e5e600);
}

.banner-urgent {
    padding: 0.25em;
    font-size: 14pt;
    text-align: center;
    color: white;
    background: red;
    background-image: -moz-linear-gradient(top, #ff0000, #e60000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff0000), to(#e60000));
    background-image: -webkit-linear-gradient(top, #ff0000, #e60000);
    background-image: -o-linear-gradient(top, #ff0000, #e60000);
    background-image: linear-gradient(to bottom, #ff0000, #e60000);
}

    .banner-urgent a {
        color: white;
        text-decoration: underline;
    }

/* Header */

header.main {
    height: 95px;
}

/* Site Logo */

#logo {
    position: absolute;
    margin-left: -8px;
    top: 25px;
    padding: 0;
    height: 128px;
    background: url(../Content/Images/logo-long-shadow.png) no-repeat;
}

    #logo a {
        background: url(../Content/Logos/nugetlogo_2.png) no-repeat;
        display: block;
        height: 52px;
        margin: 0;
        padding: 0;
        text-indent: -9999px;
        width: 169px;
    }

/* Top Menu (Navigation) */

nav.main {
    clear: both;
    height: 42px;
    margin-top: 11px;
    position: relative;
    width: 75%;
}

    nav.main ul {
        margin: 0px;
        padding: 0px;
    }

        nav.main ul li {
            display: block;
            float: left;
        }

            nav.main ul li.current a {
                background: transparent;
                border-bottom: 5px solid #6bdaff;
                color: #FFF;
                padding-bottom: 9px;
                position: relative;
                text-decoration: none;
            }

        nav.main ul a {
            color: #a7ecf3;
            display: block;
            font-size: 1.2em;
            line-height: 20px;
            padding: 8px 15px 14px;
            text-decoration: none;
        }

            nav.main ul a:hover {
                background-color: #2e6180;
                color:#fff;
                text-decoration: none;
            }

/* User Display (Sign-In Info) and search box */

#header-sidebox {
    float: right;
    margin-top: 40px;
    position: relative;
}

.user-display {
    text-align: right;
    color: #fff;
    font-weight: normal;
    padding-right: 1px;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 37px;
    font-size: 1.2em;
}

    .user-display:before {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f007";
        margin-right: 10px;
    }

    .user-display a {
        color: #fff;
    }

        .user-display a:hover {
            text-decoration: underline;
        }

#searchBox {
    width: 400px;
}

#searchBoxInput {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #FFF;
    border-color: rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    background: transparent;
    color: #fff;
    font-size: 15px;
    float: left;
    height: 36px;
    line-height: 32px;
    outline: none;
    padding: 0 40px 0 10px;
}

    #searchBoxInput:focus {
        background-color: #2e6180;
    }

#searchBoxSubmit {
    background: transparent;
    border: none;
    cursor: pointer;
    float: left;
    font-size: 16px;
    height: 36px;
    margin-left: -40px;
    line-height: 16px;
    padding: 0;
    text-align: center;
    width: 40px;
}

#searchBoxInput::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(255, 255, 255, 0.6);
}
#searchBoxInput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(255, 255, 255, 0.6);
   opacity:  1;
}
#searchBoxInput::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(255, 255, 255, 0.6);
   opacity:  1;
}
#searchBoxInput:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: rgba(255, 255, 255, 0.6);
}

/* Body */

#body {
    padding-bottom: 14px;
    padding-top: 20px;
}

/* Footer */

.clear-fix {
    clear: both;
}

#layout-footer {
    background: #e4f1f7;
    color: #3e483c;
    bottom: 0;
    width: 100%;
}

footer#footer {
    margin: 0 auto;
    text-align: center;
    display: table;
    width: 960px;
    padding: 20px 0;
}

    footer#footer a {
        color: #3e483c;
    }

        footer#footer a:hover {
            text-decoration: underline;
        }

    footer#footer p {
        margin: 0;
        padding: 0;
    }

        footer#footer p#releaseTag {
            margin: 10px 0 0 0;
        }

    footer#footer ul.recommended {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        footer#footer ul.recommended li {
            float: left;
            margin-left: 0;
            padding: 0 10px 0 0;
            text-align: left;
            width: 182px;
        }

            footer#footer ul.recommended li a {
                display: block;
                font-size: 1.3em;
            }

            footer#footer ul.recommended li p {
                font-size: .9em;
            }

    footer#footer div.license {
        clear: both;
        font-size: .7em;
        padding-top: 20px;
    }

/* Error Layout (with background image)*/

.error-show-code {
    background-image: url("../Content/Images/errorPage.png");
    background-repeat: no-repeat;
    height: 125px;
    left: 0;
    position: fixed;
    top: 0;
    text-indent: -9999px;
    width: 220px;
}

/* Outer Content Wrapper (background image) */

#outer-wrapper {
    box-sizing: border-box;
    border-top: 148px solid #3c7fa7;
    background: #FFF;
}

#content-wrapper {
    margin: -148px auto 0px;
    min-width: 960px;
    width: 960px;
    position: relative;
}

/* Columns (For Two-Column Layout) */

#sideColumn {
    float: left;
    width: 25%;
}

#mainColumn {
    float: right;
    margin-bottom: 20px;
    width: 75%;
}
